.form {
  width: 350px;
  margin: 20% auto 0;
  border: 1px solid lightgray;
  padding: 10px;
}

.form__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.form__submit-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}